<%= simple_nested_form_for([:admin, @budget]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
      <%= f.input :title %>
      <%= f.association :event %>
      
      <%= f.input :budget_category, collection: enum_collection(Finance::Budget, 'budget_category') %>

      <%= f.input :status,          collection: enum_collection(Finance::Budget, 'status'), disabled: cannot?(:check, @budget) %>

      <%= f.input :is_draft, disabled: cannot?(:check, @budget) %>
  </div>

  <%= render "/shared/form/md_editor", f: f, field: :notes, rows: 12, show_hint: true %>

  <%= render '/shared/form/sections/team_members', f: f, help_editable_block_name: 'Budget - Team Members Help' %>

  <%= render '/admin/finance/budget_lines/form_partial', f: f %>

  <%= render '/shared/form/form_actions', f: f %>
<% end %>
