<h1><%= @title %></h1>

<% fields = { 
  title: @budget.title,
  event: @budget.event.present? ? get_link(@budget.event, :show) : 'Not Linked',
  budget_category: @budget.budget_category,
  status: @budget.status,
  is_draft: bool_text(@budget.is_draft),
} %>

<%= render 'shared/basic_fields', fields: fields %>

<%= render '/admin/finance/budget_lines/show_partial', budget: @budget %>

<p>
  <h3>Notes</h3>
  <%= render_markdown(@budget.notes) %>
</p>

<%= render '/shared/admin_show_team_members', team_members: @budget.team_members %>

<h3>Expenditure</h3>
<% headers = [ :name, :amount, :request_status, :proof_status, :date] %>

<% field_sets = @budget.expenditure_requests.order(:expense_date).map { |expenditure_request| [
  expenditure_request,  
  humanized_money_with_symbol(expenditure_request.amount),
  expenditure_request.request_status.titleize,
  expenditure_request.proof_status.titleize,
  expenditure_request.expense_date
] }%>

<%= render 'shared/index_table', headers: headers, field_sets: field_sets, resource_class: Finance::ExpenditureRequest %>

<%= render '/shared/show_actions', object: @budget do %>
  <%= get_link Finance::ExpenditureRequest, :new_, http_method: :get, query_params: { budget_id: @budget.id } %> 
<% end %>
