<%= simple_form_for([:admin, @transaction_category]) do |f| %>
  <%= f.error_notification %>

<div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :hint %>
      
      <%= render "/shared/form/md_editor", f: f, field: :description, rows: 12, show_hint: true %>

      <%= f.association :nominal_code, label_method: :label %>

      <%= f.label :transaction_type %>
      <%= f.select :transaction_type, enum_options_for_select(Finance::TransactionCategory, 'transaction_type', @transaction_category) %>

      <%= f.input :active %>
  </div>

  <%= render '/shared/form/form_actions', f: f %>
<% end %>
